<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Блог</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Добро пожаловать в блог</h1>
    <p>Создано новое приложение Flask, создана структура проекта с папками static и templates, в папке templates имеются 3 html файла: index, blog, contacts (главная страница, страница блога и контакты). Они заполнены информацией и выведены силами flask сервера, с помощью функцию render_template()</p>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Главная</a></li>
            <li><a href="{{ url_for('blog') }}">Блог</a></li>
            <li><a href="{{ url_for('contacts') }}">Контакты</a></li>
        </ul>
    </nav>
</body>
</html>